[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
accelerate = "*"
torch = "*"
flask = "*"
flask-cors = "*"
bitsandbytes = "*"
peft = "*"
datasets = "*"
uvicorn = "*"
fastapi = "*"
flask-restful = "*"
tiktoken = "*"
sentencepiece = "*"
protobuf = "*"
pillow = "*"
torchvision = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
